:root[data-theme="light"] {
    --primary-color: #6200ee;
    --accent-color: #3700b3;
    --text-on-pri-sec: #fff;
    --text-color: #333333;
    --bg-color: #fafafa;
    --component-bg-color: #ffffff;
    --primary-elevate: #d1d1d1;
}

:root[data-theme="dark"] {
    --primary-color: #000;
    --accent-color: #1f1f1f;
    --text-on-pri-sec: #fff;
    --text-color: #e3f5fc;
    --bg-color: #121212;
    --component-bg-color: #22343c;
    --primary-elevate: #1e1e1e;
}
